<nav class="nav">
  <div class="container nav__inner">
    <a href="/" class="nav__brand">{{ site.name }}</a>
    <ul class="nav__links">
      <li><a href="/" class="nav__link{% if page.url == '/' %} nav__link--active{% endif %}">Archive</a></li>
      <li><a href="/experiments/" class="nav__link{% if '/experiments/' in page.url or '/lab/' in page.url %} nav__link--active{% endif %}">Experiments</a></li>
      <li><a href="/about/" class="nav__link{% if page.url == '/about/' %} nav__link--active{% endif %}">About</a></li>
    </ul>
  </div>
</nav>